.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: auto minmax(100px, auto);
  grid-template-columns: 2fr 10fr;
  /*width: auto;*/
  /*grid-gap: 10px;*/
}

.app-wrapper-content {
  grid-area: c;
  /*background-color: #5dc649;*/
  background-image: url("https://raw.githubusercontent.com/telegramdesktop/tdesktop/dev/Telegram/Resources/art/bg_initial.jpg");
}

.colTask2 {
  color: #2a2dff;
}